.header{
    background-color: var(--primaryBackgroundColor);
    position: sticky;
    display: flex;
    align-items: center;
    flex-flow: wrap;
    padding: 10px;
    gap: 20px;
    left: 0;
    top: 0;
    z-index: 100;
}

.header .header_logo_container{
    display: flex;
    flex-direction: row;
}

.header .header_logo_container .header_logo {
    height: 80px;
    width: 80px;
}
.header .header_logo_container .header_logo:hover {
    cursor: pointer;
}

.header .header_logo_container .header_title{
    color: var(--primaryTextColor);
}

