.input_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.icons {
    font-size: 1rem;
    color: var(--primaryBorderColor);
    height: 15px;
    margin: 0 3px 3px 0;
}

.input_container {
    display: flex;
    width: 100%;
}
.select_label{
    font-size: 1rem;
    margin-right: 20px;
    color: var(--primaryTextColor)
}

.input_container input{
    border: none;
    box-shadow: none;
    outline: none;
    background: transparent;
    color:var(--primaryTextColor); 
    font-size: 1.2rem;
    border-bottom:  1px solid var(--secondaryTextColor);
    margin-bottom: 10px;
    width: 80%;
}

.input_container input::placeholder {
    font-weight: lighter;
    color: var(--primaryBorderColor);
}

