
.icons {
    font-size: 1rem;
    color: var(--primaryBorderColor);
    height: 15px;
    margin: 0 3px 3px 0;
}

.input_container {
    display: flex;
    align-items: center;
}

.input_container input{
    border: none;
    box-shadow: none;
    outline: none;
    background: transparent;
    color:var(--primaryTextColor);
    font-size: 1.2rem;
    border-bottom:  1px solid var(--secondaryTextColor);
}

.input_container input::placeholder {
    font-weight: lighter;
    color: var(--primaryBorderColor);
}