.custom_select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    background-color: var(--backgroundColor);
      /* Arrow */
    appearance: none;
    background-image: var(--arrowUrl);
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
    color: var(--primaryTextColor);
}
